/* Webfont: Baserock-Regular */@font-face {
    font-family: 'Baserock';
    src: url('Baserock.eot'); /* IE9 Compat Modes */
    src: url('Baserock.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Baserock.woff') format('woff'), /* Modern Browsers */
         url('Baserock.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

